/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Allerta Stencil', 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

html {
	width: 876px;
	margin: 0px 40px 0px 50px;
}

nav a {
	display: inline-block;
	width: 100px;
	padding: 0px 10px 20px 25px;
}

nav img {
	display: inline block;
	margin: 0px 0px 0px 50px;
}

.top {
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
	margin: 100px 0px;
}

div h1 {
	font-size: 50px;
	display: block;
	padding: 100px 140px 0px 140px;
}

header div {
	text-align: center;
}

.top-paragraph {
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
	margin: 25px 0px;
}	

.bottom-paragraph {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	margin: 25px 0px;
}

.content {
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: gray;
	margin-bottom: 20px;
}

strong {
	display: block;
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	font-style: italic;
}

.contact {
	display: block;
}

.phone {
	display: block;
	margin: 10px 0px;
}

footer {
	display: block;
	text-align: center;
	margin: 30px 0px;
	background-color: lightblue;
	padding: 10px 0px 25px 0px;
}

nav {
  overflow: hidden;
  background-color: lightblue;
  position: fixed; 
  top: 0;
  width: 876px;
}

.button {
	border-radius: 4px;
	background-color: white;
	border: 2px solid gray;
	color: darkgray;
	text-align: center;
	font-size: 28px;
	padding: 5px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }

  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
